include CHANGELOG.rst
include LICENSE
include README.rst

recursive-include temperature_monitor/management *.py
recursive-include temperature_monitor/migrations *.py
recursive-include temperature_monitor/static *
recursive-include temperature_monitor/templates *

global-exclude .DS_Store
