{% extends "temperature_monitor/base.html" %}
{% load project_home %}

{% block title %}Gateways | {{ block.super }}{% endblock %}

{% block content %}
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% project_home_breadcrumb_bs4 %}
        <li class="breadcrumb-item active" aria-label="breadcrumb">Temperature Monitor</li>
        <li class="breadcrumb-item active" aria-label="breadcrumb" aria-current="page">Gateways</li>
      </ol>
    </nav>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-left">Serial Number</th>
          <th scope="col" class="text-center">Time Since Last Seen</th>
          <th scope="col" class="text-center"># of Sensors</th>
          <th scope="col" class="text-center d-none d-sm-table-cell d-print-table-cell">Time Zone</th>
        </tr>
      </thead>
      <tbody>
        {% for gateway in gateway_list %}
          <tr class="clickable-row" data-href="{% url 'temperature_monitor:gateway_detail' gateway.pk %}">
            <th scope="row" class="text-left">{{ gateway.serial_number }}</th>
            <td class="text-center {% if gateway.time_since_alert_b %}bg-danger text-light{% elif gateway.time_since_alert_a %}bg-warning{% endif %}">{{ gateway.last_seen|timesince }}</td>
            <td class="text-center">{{ gateway.sensors.count|default:"-" }}</td>
            <td class="text-center d-none d-sm-table-cell d-print-table-cell">{{ gateway.timezone|default:"-" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock content %}

{% block footer %}
  <script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
  </script>
{% endblock footer %}
